$primary:           #007bff;
$secondary:         #6c757d;
$success:           #28a745;
$info:              #17a2b8;
$warning:           #ffc107;
$danger:            #dc3545;
$light:             #f8f9fa;
$dark:              #343a40;
$electric-blue:     #00FFFF;
$neon-green:        #39FF14;
$fire-red:          #FF4500;
$cosmic-purple:     #4B0082;
$midnight-black:    #000000;
$lunar-grey:        #A9A9A9;
$silver-mist:       #E6E6E6;
$solar-orange:      #FFA500;
$solarized-yellow:  #B58900;
$crimson-red:       #DC143C;

$text-black: #343a40;
$text-white: rgba(white, .9);

$rounded-borders: 15px;
